services:
  - type: web
    name: temp-email-backend
    env: docker
    plan: free
    healthCheckPath: /api/v1/health
    envVars:
      - key: PORT
        sync: false
      - key: NODE_ENV
        sync: false
      - key: CORS_ORIGIN
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: REDIS_HOST
        sync: false
      - key: REDIS_PORT
        sync: false
      - key: REDIS_USERNAME
        sync: false
      - key: REDIS_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_ACCESS_EXPIRES_IN
        sync: false
      - key: JWT_REFRESH_EXPIRES_IN
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GITHUB_CLIENT_ID
        sync: false
      - key: GITHUB_CLIENT_SECRET
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false
      - key: THROTTLE_TTL
        sync: false
      - key: THROTTLE_LIMIT
        sync: false
      - key: BREVO_API_KEY
        sync: false
      - key: SENDER_EMAIL
        sync: false
      - key: SENDER_NAME
        sync: false
      - key: NEW_RELIC_LICENSE_KEY
        sync: false
      - key: NEW_RELIC_APP_NAME
        sync: false
